.invalid
{
    border:1px solid #f00;
}

.has-error {
  background: red;
}
.no-error {
  background: green;
}

.font-12 {
    font-size: 12px;
}

.form-group.required .control-label:after {
  content:"*";
  color:red;
}

.add-btn{
    padding: 6px 25px;
    margin-bottom: 5px;
}

.center-div{
    margin: 0 auto;
    width:80% /* value of your choice which suits your alignment */
}

.separator{
    border-right: 1px solid lightgray;
}

.margin-top-25{
    margin-top: 25px;
}